Q1. List any five functions of the pandas library with execution.

import pandas as pd
df = pd.read_csv('data.csv')
df.head()
df.tail()
df.info()
df.describe()
df.groupby()
df.merge()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [22]:
data = {'A':['Suraj','Deepak'],'B':[24,32],'C':[57000,38000]}
import pandas as pd
def reindex_dataframe(df):
    new_index = pd.RangeIndex(start =1, stop = 2*len(df),step = 2)
    new_df = df.reindex(new_index)
    return new_df
df1 = pd.DataFrame(data)
reindex_dataframe(df1)

        A     B        C
1  Deepak  32.0  38000.0
3     NaN   NaN      NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [21]:
def sum_pd(df):
    v = df['values'].iloc[:3]
    s= v.sum()
    return s
df1 = pd.DataFrame({'values':[10, 20, 30, 40, 50]})
print(sum_pd(df1))

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [37]:
import pandas as pd
data = ['Suraj','Tanmoy','Soumik','Dipanker']
df = pd.DataFrame(data,columns = ['text'])
df['word_count'] = df['text'].apply(lambda x : len(x))
df

       text  word_count
0     Suraj           5
1    Tanmoy           6
2    Soumik           6
3  Dipanker           8

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() are both used to get information about the size of a Pandas DataFrame, but they return different values.

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and columns in the DataFrame. In other words, it returns the total number of cells in the DataFrame.

On the other hand, DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame. The first element of the tuple is the number of rows, and the second element is the number of columns. So, it gives you the shape of the DataFrame.

In [39]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(f"Size of dataframe is {df.size}")
print(f"Shape of dataframe is {df.shape}")

Size of dataframe is 6
Shape of dataframe is (3, 2)

Q6. Which function of pandas do we use to read an excel file?

read_excel()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [44]:
import pandas as pd
data = {'Email':['john.doe@example.com',"suraj75mishra@gmail.com",'surajmishra@lntecc.com',"tanmoydas@hotmail.com"]}
df = pd.DataFrame(data)
df['username'] = df['Email'].apply(lambda x : x.split('@')[0])
print(df)

                     Email       username
0     john.doe@example.com       john.doe
1  suraj75mishra@gmail.com  suraj75mishra
2   surajmishra@lntecc.com    surajmishra
3    tanmoydas@hotmail.com      tanmoydas

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [46]:
import pandas as pd
data = {'A':[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]}
df = pd.DataFrame(data)
df[(df['A']>5) & (df['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [51]:
import pandas as pd
df = pd.DataFrame({'values':[12,34,56,67,45,78,69]})
mean = df['values'].mean()
print(f"mean value is {mean}")
median = df['values'].median()
print(f"median value is {median}")
std = df['values'].std()
print(f"standard deviation is {std}")

mean value is 51.57142857142857
median value is 56.0
standard deviation is 23.01345362215432

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [64]:
import pandas as pd
def moving_avg(df):
    df['MovingAverage'] = df['Sales'].rolling(window =7, min_periods =1).mean()
    return df
sales = [100,300,450,340,130,560,480]
date = ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07']
df1 = pd.DataFrame({'Sales':sales,'Date':date})
df1['Date'] = pd.to_datetime(df1['Date'])
df1
moving_avg(df1)

   Sales       Date  MovingAverage
0    100 2023-01-01     100.000000
1    300 2023-01-02     200.000000
2    450 2023-01-03     283.333333
3    340 2023-01-04     297.500000
4    130 2023-01-05     264.000000
5    560 2023-01-06     313.333333
6    480 2023-01-07     337.142857

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

In [92]:
import pandas as pd
from datetime import datetime as dt
def weekday_df(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df
date = ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07']
df1 = pd.DataFrame({'Date':date})
df1['Date'] = pd.to_datetime(df1['Date'])
df2 = weekday_df(df1)
df2

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday
6 2023-01-07   Saturday

In [ ]:
#below example is extended version of above.

In [91]:
import pandas as pd
from datetime import datetime as dt
def weekday_df(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    df['Year'] = df['Date'].dt.strftime('%Y')
    df['month'] = df['Date'].dt.strftime('%m')
    df['day'] = df['Date'].dt.strftime('%d')
    df['time'] = df['Date'].dt.strftime("%H:%M:%S")
    df['complete'] = df['Date'].dt.strftime("%m/%d/%Y, %H:%M:%S")
    
    return df
date = ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07']
df1 = pd.DataFrame({'Date':date})
df1['Date'] = pd.to_datetime(df1['Date'])
df2 = weekday_df(df1)
df2

        Date    Weekday  Year month day      time              complete
0 2023-01-01     Sunday  2023    01  01  00:00:00  01/01/2023, 00:00:00
1 2023-01-02     Monday  2023    01  02  00:00:00  01/02/2023, 00:00:00
2 2023-01-03    Tuesday  2023    01  03  00:00:00  01/03/2023, 00:00:00
3 2023-01-04  Wednesday  2023    01  04  00:00:00  01/04/2023, 00:00:00
4 2023-01-05   Thursday  2023    01  05  00:00:00  01/05/2023, 00:00:00
5 2023-01-06     Friday  2023    01  06  00:00:00  01/06/2023, 00:00:00
6 2023-01-07   Saturday  2023    01  07  00:00:00  01/07/2023, 00:00:00

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [102]:
import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_rows = df.loc[mask]
    return selected_rows
date = ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07','2023-03-02','2023-02-04']
df = pd.DataFrame({'Date':date})
selected_df = select_rows_between_dates(df)
selected_df

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

"pandas" library
import pandas as pd
df = pd.DataFrame()