Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning','Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame({'course_name':course_name,'duration':duration})
df.iloc[1,:]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Both loc and iloc are methods in Pandas DataFrame used for indexing and selecting rows and columns, but they work differently.

loc is used for label-based indexing. It allows you to select rows and columns based on their labels (i.e., row and column names). For example, you can use loc to select rows based on their index label or to select columns based on their column label.
iloc is used for integer-based indexing. It allows you to select rows and columns based on their integer position. For example, you can use iloc to select the first three rows and the first two columns:

In [16]:
print(df)
df.loc[[0,2],['course_name', 'duration']]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

        course_name  duration
0      Data Science         2
1  Machine Learning         3

In [18]:
#first three rows and two columns
df.iloc[:3,:2]

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [24]:
reindex = [3,0,1,2]
new_df = pd.DataFrame({'course_name':course_name,'duration':duration},index = reindex)
new_df

        course_name  duration
3      Data Science         2
0  Machine Learning         3
1          Big Data         6
2     Data Engineer         4

In [25]:
new_df.loc[2]

course_name    Data Engineer
duration                   4
Name: 2, dtype: object

In [26]:
new_df.iloc[2]

course_name    Big Data
duration              6
Name: 1, dtype: object

difference is that loc select rows and columns based on their labels (i.e., row and column names) while iloc is used for integer-based indexing. It allows you to select rows and columns based on their integer position.

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [43]:
import pandas as pd
import numpy as np
import random
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.422872  0.736532  0.418819  0.103180  0.039530  0.519853
2  0.357200  0.564367  0.768763  0.068110  0.268607  0.320381
3  0.074564  0.586362  0.509180  0.889049  0.741965  0.165875
4  0.911898  0.836957  0.240528  0.271632  0.977505  0.263387
5  0.784851  0.316828  0.433260  0.373214  0.652089  0.102545
6  0.789041  0.293121  0.492838  0.024896  0.329610  0.078518

In [44]:
print(f"mean of column 1 is {df1['column_1'].mean()}")
print(f"mean of column 2 is {df1['column_2'].mean()}")
print(f"mean of column 3 is {df1['column_3'].mean()}")
print(f"mean of column 4 is {df1['column_4'].mean()}")
print(f"mean of column 5 is {df1['column_5'].mean()}")
print(f"mean of column 6 is {df1['column_6'].mean()}")
print(f"standard deviation of column 2 is {df1['column_2'].std()}")

mean of column 1 is 0.5567375708835054
mean of column 2 is 0.5556944075986164
mean of column 3 is 0.4772313212794157
mean of column 4 is 0.288346751425317
mean of column 5 is 0.5015508918445678
mean of column 6 is 0.24176000542655318
standard deviation of column 2 is 0.21855366072891783

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [48]:
df1.iloc[1,1] = 'A'
#df1['column_2'].mean()
#we will get error excuting this because unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function (also called a rolling or moving window) is used to perform calculations on a subset of data that is defined by a sliding window. It allows you to compute metrics over a rolling time or spatial window.

For example, you might use a window function to calculate the moving average of a time series or to compute the rolling sum of a dataset. The size of the window determines the number of rows or elements in the subset of data used for each calculation.

Pandas provides several built-in window functions that you can use to compute different metrics. Here are some of the most commonly used window functions:

Rolling: Computes a simple moving window over a specified number of periods.
Expanding: Computes the value of the metric for the entire range of data up to the current point.
EWM (Exponentially Weighted Moving): Computes a weighted moving window over a specified number of periods, with more recent data points given greater weight.
You can apply these window functions to a DataFrame or Series using the .rolling(), .expanding(), and .ewm() methods in Pandas. These methods return a window object, which you can then use to compute metrics such as the mean, sum, or standard deviation over the rolling or expanding window.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [51]:
from datetime import datetime

now = datetime.now()

current_month = now.strftime('%B')
current_year = now.strftime('%Y')
print(current_month)
print(current_year)

April
2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [57]:
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD):")
date2 = input("Enter the second date (YYYY-MM-DD):")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
delta = date2 - date1
days = delta.days
hours = days * 24
minutes = hours * 60
print(days)
print(hours)
print(minutes)

Enter the first date (YYYY-MM-DD):2023-01-01
Enter the second date (YYYY-MM-DD):2023-04-19
108
2592
155520

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the name of the column to convert: ")
category_order = input("Enter the category order (comma-separated): ").split(',')
data = pd.read_csv(file_path)
print(f"Original data\n {data}")
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)
data = data.sort_values(by = column_name)
print(f"Sorted data\n  {data}")

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
file_path = input("Please enter the file path of csv file ")
data = pd.read_csv(file_path)
data.plot.bar(x='sales', y = 'product')

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [2]:
file_path = "D:\Suraj\PYTHON\student_data.csv"
import pandas as pd
data = pd.read_csv(file_path)
mean = data['Test Score'].mean()
median = data['Test Score'].median()
mode = data['Test Score'].mode()
output_table = {'Statistic': ['Mean','Median','Mode'],'Value': [mean,median,mode[0]]}
df = pd.DataFrame(output_table)
print(data)
print(df)

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85
  Statistic  Value
0      Mean   83.5
1    Median   85.0
2      Mode   85.0