Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
lst = [4, 8, 15, 16, 23, 42]
import pandas as pd
series = pd.Series(lst)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import random
lst = []
for i in range(10):
    lst.append(random.randint(1,15))
series = pd.Series(lst)
print(series)

0     7
1     5
2    12
3    14
4     2
5    10
6     4
7    14
8     6
9    15
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
import pandas as pd
df = pd.DataFrame({'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional labeled data structure that is used for data manipulation and analysis. It can be thought of as a tabular data structure similar to a spreadsheet or a SQL table, where data is organized in rows and columns. A DataFrame can contain data of different data types and is highly flexible for handling data with varying structures and formats.

On the other hand, a Series in pandas is a one-dimensional labeled data structure that is used to represent a single column or a single row of data in a DataFrame. A Series is similar to a Python list or a NumPy array, but it has additional features such as labeled indices, which allows for easy data retrieval and manipulation.

ExP - Solution of Q3 is a DataFrame, whether solution of Q1 & Q2 is Series.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of built-in functions for data manipulation in a DataFrame. Some of the common functions that can be used to manipulate data in a Pandas DataFrame include:

DataFrame.rename(): This function is used to rename columns or index labels in a DataFrame. For example, you can use it to rename columns to make them more meaningful or to comply with a specific naming convention.

In [8]:
import pandas as pd

# Create a DataFrame
data = {"A": [1, 2, 3], "B": [4, 5, 6]}
df = pd.DataFrame(data)

# Rename columns
df.rename(columns={"A": "X", "B": "Y"}, inplace=True)

# Print the DataFrame with renamed columns
print(df)

   X  Y
0  1  4
1  2  5
2  3  6

DataFrame.drop(): This function is used to drop specified columns or rows from a DataFrame. For example, you can use it to remove unnecessary columns or rows that are not relevant to your analysis.

In [9]:
import pandas as pd

# Create a DataFrame
data = {"A": [1, 2, 3], "B": [4, 5, 6]}
df = pd.DataFrame(data)

# Drop a column
df.drop("B", axis=1, inplace=True)

# Print the DataFrame with dropped column
print(df)

   A
0  1
1  2
2  3

DataFrame.groupby(): This function is used to group data in a DataFrame based on one or more columns, and perform aggregate functions on the grouped data. For example, you can use it to calculate summary statistics for different categories of data.

In [10]:
import pandas as pd

# Create a DataFrame
data = {"Name": ["John", "Alice", "Bob", "Alice", "Bob"],
        "Age": [30, 25, 35, 22, 28],
        "City": ["New York", "Los Angeles", "Chicago", "New York", "Chicago"]}
df = pd.DataFrame(data)

# Group data by "City" column and calculate mean of "Age" column for each group
grouped_data = df.groupby("City").mean()

# Print the grouped data
print(grouped_data)

              Age
City
Chicago      31.5
Los Angeles  25.0
New York     26.0

C:\Users\Suraj Mishra\AppData\Local\Temp\ipykernel_31332\3407127228.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby("City").mean()

DataFrame.merge(): This function is used to merge two DataFrames based on common columns or indices. For example, you can use it to combine data from multiple DataFrames into a single DataFrame for analysis.

In [11]:
import pandas as pd

# Create two DataFrames
data1 = {"Name": ["John", "Alice", "Bob"],
         "Age": [30, 25, 35]}
data2 = {"Name": ["Alice", "Bob", "Charlie"],
         "City": ["New York", "Chicago", "Los Angeles"]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Merge DataFrames based on "Name" column
merged_df = pd.merge(df1, df2, on="Name")

# Print the merged DataFrame
print(merged_df)

    Name  Age      City
0  Alice   25  New York
1    Bob   35   Chicago

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature, which means they can be modified after they are created. However, Panel is deprecated in the latest versions of Pandas (since version 1.0.0) and is no longer recommended to be used. Instead, multi-dimensional data can be represented and manipulated using the more flexible and efficient data structures like Series and DataFrame.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
import pandas as pd
name = pd.Series(["John", "Alice", "Bob"], name="Name")
age = pd.Series([25,37,27],name = "Age")
df = pd.DataFrame({"Name":name,"Age":age})
print(df)

    Name  Age
0   John   25
1  Alice   37
2    Bob   27